<%- include("partials/header")%>
	<div class="ui main text container">
		<div class="ui huge header">Blog Posts</div>
		<div class="ui top attached segment">
			<div class="ui divided items">
				<% blog.forEach(function(blg){%>
					<div class="item">
						<div class="image">
							<img src="<%= blg.image %>">
						</div>
						<div class="content">
							<a class="header" href="/blog/<%= blg._id %>"><%= blg.title %></a>
							<div class="meta">
								<span><%= blg.created.toDateString() %></span>
							</div>
							<div class="description">
								<p> <%= blg.body.substring(0,100) %> ... </p>
							</div>
							<div class="extra">
								<a class="ui floated basic violet button" href="/blog/<%= blg._id %>">Read more</a>
							</div>
						</div>	
					</div>
				<% }); %>
			</div>
		</div>
	</div>	
<%- include("partials/footer")%>